* ::after, ::before{
    box-sizing: inherit;
}


html {
    box-sizing: border-box;

  }

body{
    font-size:18px;
    font-family: 'Calibri', 'sans-serif';
    padding:0;
    margin:0;
    background-color:#d2f4ef;
    color:#1a7668;
}
p{
    font-size:15px;
}

/*Header*/
header{
    color:#1a7668;
background-color:#d2f4ef;
}

div.intro{

color:#1a7668;
text-align: center;
margin-left:auto;
margin-right:auto;

}
div.news-text{
    padding-top:20px;
    padding-bottom:20px;
    padding-left:10px;
    padding-right:10px;
    margin-left:20px;
    margin-right:auto;
}

div.news-text p{
    padding-right:30px;
    padding-left:30px;
    margin-left :auto;
    margin-right:auto;
}

div.news-text a{
    text-decoration: none;
}

div.hottest-movie {

    padding-right:30px;
    padding-left:30px;
    padding-top:20px;
    margin-left :auto;
    margin-right:auto;
    background-color:#d2f4ef;
    text-align: center;
}

div.poster-rogue a{
    text-decoration: none;
    font-size:20px;
}
div.poster-rogue a:hover
{
    color:#63e75d;
    background-color:gray;
}

div.poster-rogue img{
width:30%;
height:auto;
}

div.poster-felicity img{
    width:30%;
    height:auto;

    }

    div.poster-felicity a{
       font-size:20px;
       text-decoration: none;

       }
       div.poster-felicity a:hover{
           color:#63e75d;
           background-color: gray;
       }

/*actor page styling goes here*/

    .film-intro{
        background-color: #d2f4ef;
        margin-left:auto;
        margin-right:auto;
        padding-left:20px;
        padding-right:20px;
    }

    .film{
    background-color: #d2f4ef;
    display: flex;
    justify-content: space-between;
    padding-left:20px;
    padding-right:20px;
    }
    .picture p{
        font-family: sans-serif;
        color:#1a7668;
        text-align: center;
        flex-wrap:wrap;
    }
    .picture img{
        display:flex;
        flex-direction: column;
        width:200px;
        height:250px;
        padding-top:10px;
        padding-bottom:10px;
        padding-left:20px;
        padding-right:20px;
        margin-left:auto;
        margin-right:auto;
    }

    .picture a{
        text-decoration: none;
    }

/*movie detail goe shere*/


div.movie-intro {
    padding-left: 20px;
    padding-right: 20px;
}

div.casts h2 {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
}


.movie-casts a:hover {
    color: #63e75d;
    background-color: gray;
}

.movie-casts a{
    text-decoration: none;
}

/*set the flex on the parent*/

/*.images{
    display: flex;
    width:100%;
    flex-wrap:nowrap;
    font-size:15px;
    color:#1a7668;
    list-style: none;
    flex-direction:row;
}
*/
.movie-casts{
    background-color: #d2f4ef;
    display: flex;
    justify-content: space-between;
    padding-left:20px;
    padding-right:20px;

}
.images p{
    font-family: sans-serif;
    color:#1a7668;
    text-align: center;
    flex-wrap:wrap;

}
.images img{
    display:flex;
    flex-direction:column;
    width: 200px;
    height:250px;
    padding:3px;
    color:#1a7668;
}


